/* Import fonts */

/* Lato 100, 300, 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* remove margin and padding from all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: white;
}

/* banner image of visitor profile */
.bannerImage {
    background-image: url("pictures/banner.jpg");
    margin-bottom: -20px;
    height: 180px;
}

/* container for all visitor user info */
.visitorInfo {
    /* properties to adjust display flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;

    /* Styling */
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.356);
    background-color: white;
    border-radius: 20px 20px 0 0;
    border-bottom: 3px solid rgb(70, 128, 255);
}

/* visitor user profile picture */
#visitorPicture {
    /* offset picture up by 50% of its height */
    margin-top: -64px;
    border-radius: 50%;

    /* give it a border to make it aesthetically balanced */
    outline: 8px solid white;
    outline-offset: -2px;

    /* Styling */
    box-shadow: 0px -12px 8px rgba(0, 0, 0, 0.812);
}

/* info aligned to the top of the profile */
.topInfo {
    /* properties to adjust display flex */
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* visitor greeting message */
#visitorGreeting {
    /* positioning adjustment */
    margin-top: 10px;

    /* adjust font properties */
    font-size: 14px;
    font-weight: 300;
    color: rgb(130, 130, 130);
}

/* Visitor Name */
#visitorName {
    font-size: 28px;
    font-weight: 700;
}

/* Visitor Email */
#visitorEmail {
    font-size: 17px;
    color: rgb(130, 130, 130);
}

/* info aligned to the bottom of the profile */
.bottomInfo {
    /* properties to adjust flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    /* positioning properties */
    margin-top: auto;
    margin-bottom: 25px;

    /* adjust font properties */
    font-size: 14px;
    font-weight: 300;
}

/* containers inside bottom info which each hold a piece of information */
.bottomInfo div {
    /* flex properties to center all inside elements */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoTitle {
    /* Adjust text styles */
    color: rgb(94, 94, 94);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}

.verticalLine {
    height: 120%;
    width: .25px;
    background-color: rgb(207, 207, 207);
}

/* display results below*/
.displayresults {
    width: 100%;
}

/* "find new people" at top of results */
.displayTitle {
    /* User Profile */
    position: relative;
    left: 50%;
    width: max-content;
    transform: translate(-50%, 40px);
    margin-bottom: 20px;

    /* Styling */
    font-weight: 400;
    font-size: 28px;
    color: rgb(67, 67, 67);
}

/* container for cards */
.results {
    /* formatting text */
    padding: 80px 80px;

    /* properties to make elements go left to right and auto wrap */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

/* card for showing search results */
.card {
    /* sizing */
    height: 400px;
    width: 300px;
    border-radius: 10px;

    /* remaining styling */
    background-color: rgb(238, 238, 238);
    outline: 2px solid rgb(202, 202, 202);
    /* padding: 20px 20px; */
}

/* profile image of person */
.cardImage {
    /* controling positioning */
    position: relative;
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0%);

    /* control the styling */
    width: 100px;
    border-radius: 50%;
}

/* container for person information */
.infoContainer {
    /* set height and display properties*/
    width: 100%;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* properties to adjust position of content */
    margin-top: 20px;
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
}

/* title of information */
.resultTitle {
    font-size: 12px;
    font-weight: 700;
    color: rgb(122, 122, 122);
}

/* value of the information */
.resultInfo {
    font-size: 16px;
    font-weight: 400;
}

/* option to select number of results */
.options {
    /* User Profile */
    position: relative;
    left: 50%;
    width: max-content;
    transform: translate(-50%, 40px);

    /* make it so that children go left to right */
    display: flex;
    align-items: center;
}

/* text that says "number of results" */
.options p {
    margin-right: 10px;
}

/* button to search for result */
.searchButton {
    /* set backgorund and text color */
    background-color: rgb(0, 115, 255);
    color: white;

    /* set rounded corners */
    border-radius: 10px;

    /* adjust size and position by giving padding and margin*/
    margin-left: 10px;
    padding: 8px 10px;

    /* change cursor */
    cursor: pointer;
}

/* on hover */
.searchButton:hover {
    background-color: rgb(54, 144, 254);
}

/* on press */
.searchButton:active {
    background-color: rgb(23, 109, 213);
}

#template {
    display: none;
}