/* Import fonts */

/* Lato 100, 300, 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* remove margin and padding from all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* banner image of visitor profile */
.bannerImage {
    background-image: url("pictures/banner.jpg");
    height: 160px;
}

/* container for all visitor user info */
.visitorInfo {
    /* properties to adjust display flex */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Styling */
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.356);
    font-family: 'Lato', sans-serif;
}

/* visitor user profile picture */
#visitorPicture {
    /* offset picture up by 50% of its height */
    margin-top: -64px;
    border-radius: 50%;

    /* give it a border to make it aesthetically balanced */
    outline: 8px solid white;
    outline-offset: -2px;

    /* Styling */
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.812);
}